@{
  ViewData["Title"] = "Contact";
}
<header class="page-header">
  <h1>
    <localize resource-name="Common">@ViewData["Title"]</localize>
    <small>@ViewData["Message"]</small>
  </h1>
</header>

<address>
  One Microsoft Way<br />
  Redmond, WA 98052-6399<br />
  <abbr localize-title="Phone" localize>P:</abbr>
  425.555.0100
</address>

<address>
  <strong localize>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
  <strong localize>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
