@{
  ViewData["Title"] = "Privacy Policy";
}
<header class="page-header">
  <h1 localize resource-name="Common">@ViewData["Title"]</h1>
</header>

<p localize>Use this page to detail your site's privacy policy.</p>
