[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.sh]
end_of_line = lf

[*.{sln,xproj,ps}]
charset = utf-8-bom
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
