* text=auto  whitespace=space-before-tab,indent-with-non-tab,blank-at-eol,-blank-at-eof

*.cs  diff=csharp

*.yml  whitespace=tab-in-indent,blank-at-eol,-blank-at-eof
CodeMaid.config whitespace=indent-with-tab

*.sln eol=crlf
*.csproj eol=crlf

*.sh eol=lf
*.ps1 eol=crlf
*.resx whitespace=-blank-at-eol
