* text=auto  whitespace=tab-in-indent,trailing-space,tabwidth=2

*.cs  diff=csharp

*.sln eol=crlf whitespace=-tab-in-indent
*.csproj eol=crlf whitespace=-tab-in-indent

*.sh eol=lf
*.ps1 eol=crlf
*.resx whitespace=-blank-at-eol
*.md whitespace=-trailing-space
