---
Title: Localization.AspNetCore.TagHelpers
NoSidebar: true
NoContainer: false
---

<div class="container">
  <h1>What is it?</h1>
  <p>
    Asp.Net Core Tag Helpers to use when localizing Asp.Net Core application instead of manually injecting IViewLocator
  </p>
  <p>
    The goal of this library is to make orking with localized content a little easier by providing tag helpers to use,
    instead of manually injecting IViewLocalizer/IHtmlLocalizer or IStringLocalizer in your view files.
  </p>

  <h2>Where can I get it?</h2>
  <p>
    Officially published versions are available on
    <a href="https://www.nuget.org/packages/Localization.AspNetCore.TagHelpers/" target="_blank">
      NuGet
    </a>
    and on our
    <a href="https://github.com/WormieCorp/Localization.AspNetCore.TagHelpers/releases" target="_blank">
      GitHub Releases
    </a>
    Page.
  </p>
</div>
