@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer loc;
@{
    ViewData["Title"] = "About";
}

<header class="pb-2 mt-4 mb-2 border-bottom text-center">
  <h1 localize>@ViewData["Title"].</h1>
  <h2 localize>@ViewData["Message"]</h2>
</header>

<p localize localizer="@loc">Use this area to provide additional information.</p>
