@{
	ViewData["Title"] = "Contact";
}
<h2 asp-localize="">@ViewData["Title"].</h2>
<h3 asp-localize="">@ViewData["Message"]</h3>

<address asp-localize="" html="true">
	<parameter>One Microsoft Way</parameter>
	<parameter>Redmond, WA 98052-6399</parameter>
	<parameter asp-localize="">P:</parameter>
	{0}<br />
	{1}<br />
	<abbr asp-localize-title="Phone">{2}</abbr>
	425.555.0100
</address>

<address asp-localize="" html="true">
	<parameter asp-localize="">Support:</parameter>
	<parameter>Support@example.com</parameter>
	<parameter asp-localize="">Marketing:</parameter>
	<parameter>Marketing@example.com</parameter>
	<strong>{0}</strong> <a href="mailto:{1}">{1}</a><br />
	<strong>{2}</strong> <a href="mailto:{3}">{3}</a>
</address>
