/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
}
