<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="LAT-RULES" Description="Rules for Localization.AspNetCore.TagHelpers" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1310" Action="None" />
  </Rules>
</RuleSet>
