@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4" localize>Welcome</h1>
  <p localize html="true">
    <parameter>https://docs.microsoft.com/aspnet/core</parameter>
    Learn about <a href="{0}" target="_blank">building Web apps with ASP.NET Core</a>.
  </p>
</div>
